@model Todo

<h1>Add Todo</h1>



<form method="post" action="AddTodo">
    <div class="form-group">
        <label for="Priority">Priority:</label>
        <select id="Priority" name="Priority" class="form-control">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title"
               class="form-control" value="@Model.Title">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
